{% extends "base.html" %}
{% block content %}
{% load static %}

{% if user.is_authenticated %}
<script>
    document.location.href = "/"
</script>
{% endif %}
{% if pesan %}
<script>
    alert("{{pesan}}")
    document.location.href = "/"
</script>
{% endif %}
<section class="flex justify-center my-6 items-center w-full min-h-screen md:flex-row flex-col px-6">
    <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_hvzjb7o5.json" background="transparent" data-aos="fade-up" speed="1" class="w-[110%]" loop autoplay></lottie-player>
    <div
        class="mx-8 px-6 w-full pb-4 max-w-[600px] min-h-[80%] shadow-lg border border-slate-200 text-sm md:text-base lg:text-lg rounded-xl">
        <h1 class="text-center py-3 text-lg md:text-xl lg:text-2xl font-semibold tracking-widest italic pb-4">Signup
            Admin | PPN Karangantu</h1>

        <form method="POST"
            class="[&>div>label]:block [&>div>div]:pb-4 [&>div>div]:text-slate-600 [&>div>div]:text-xs [&>div>input]:border-2 [&>div>input]:py-2 [&>div>input]:px-4 [&>div>input]:rounded-md [&>div>input]:mb-4 focus:[&>div>input]:outline-none focus:[&>div>input]:ring-2 focus:[&>div>input]:ring-indigo-400 [&>div>input]:border-indigo-400">
            {% csrf_token %}
            {{form.as_div}}
            <div>
                <label for="token" class="">Token:</label>
                <input id="token" type="password" name="token" class="py-2 px-4">
            </div>
            <button type="submit" class="w-full bg-blue-500 py-2 mx-auto block text-white">Sign-Up!</button>
            <div
                class="flex px-4 text-slate-500 text-xs md:text-sm items-center my-4 before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5">
                <p class="text-center font-semibold mx-4 mb-0">Atau</p>
            </div>
            <a href="{% url 'login' %}"
                class="w-full text-center bg-indigo-600 bg-blue-500 py-2 mx-auto block text-white">Login!</a>
        </form>
    </div>
</section>
{% endblock %}