{% extends "base.html" %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}

<section class="min-h-screen">
    <div id="header" class="z-20 relative font-semibold px-4 md:px-10 bg-blue-500 text-white font-robotocon">
        <div onclick="dropdownclck()" class="flex items-center justify-between md:hidden">
            <h2>Halo,  {{user.first_name}}</h2>
            <button>
                <span class="my-3 w-[40px] h-[2px] bg-white block"></span>
                <span class="my-3 w-[40px] h-[2px] bg-white block"></span>
                <span class="my-3 w-[40px] h-[2px] bg-white block"></span>
            </button>
        </div>
        <div id="dropdown" class="w-full items-center z-10 transition hidden md:flex md:pt-4 pb-4">
            <h2 class="hidden md:block">Halo,  {{user.first_name}}</h2>
            <div class="md:flex gap-6 text-center md:text-left w-full">
                <a href="/adminpage?admin=peta">
                    <h3 class="py-1 hover:text-slate-200">Peta</h3>
                </a>
                <a href="/adminpage?admin=berita">
                    <h3 class="py-1 hover:text-slate-200">Berita</h3>
                </a>
                <a href="/adminpage?admin=pesan">
                    <h3 class="py-1 hover:text-slate-200">Pesan</h3>
                </a>
                <a href="{% url 'homepage' %}">
                    <h3 class="py-1 hover:text-slate-200">Halaman Utama</h3>
                </a>
                <a href="{% url 'datalogbook' %}">
                    <h3 class="py-1 hover:text-slate-200">Data Penangkapan</h3>
                </a>
                <a href="{% url 'logout' %}" class="py-2 px-4 mt-2 rounded-md bg-red-600 md:hidden block w-full">
                    Logout
                </a>
            </div>
            <a href="{% url 'logout' %}" class="py-2 px-4 rounded-md bg-red-600 md:inline-block hidden">
                Logout
            </a>
        </div>
    </div>
    {% if not request.GET %}
    <!-- <section>
        <div class="px-6 md:px-10">
            <h1 class="py-2 text-center text-2xl md:text-4xl font-fredoka">Halo, {{user.first_name}}
                {{user.last_name}}!, Selamat bekerja!</h1>
        </div>
    </section> -->
    <script>
        window.location.href = "/adminpage/?admin=peta"
    </script>
    {% elif request.GET.admin == "peta" %}
    <section class="md:px-10 px-4 pb-10">
        <h1 class="text-center text-3xl pt-4 font-fredoka font-semibold">PETA</h1>
        <div class="w-full overflow-x-auto py-6">
            <table class="w-full" id="tablejobpeta" style="min-width: 1000px;">
                <thead>
                    <tr class="bg-blue-400 text-white">
                        <th>Nama Peta</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for peta in petas %}
                        <tr class="odd:bg-blue-100 even:bg-blue-200">
                            <td>{{peta.nama_peta}}</td>
                            <td id="responseActionPeta{{peta.id}}">
                                <a href="{{peta.folder.url}}" class="py-2 px-4 inline-block mx-1 my-1 bg-green-600 rounded-md text-white">Lihat</a>
                                <button onclick="clickEdit(`{{peta.id}}`, `{{peta.nama_peta}}`)" class="py-2 px-4 inline-block mx-1 my-1 bg-yellow-600 rounded-md text-white">Edit</button> 
                                <a onclick="return confirm('Apakah anda yakin untuk menghapus data ini?')" href="{% url 'hapuspeta' peta.id %}" class="py-2 px-4 inline-block mx-1 my-1 bg-red-600 rounded-md text-white">Hapus</a>
                            </td>  
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="ring-2 p-4 rounded-md mt-4">
            <h2 class="font-fredoka md:text-lg pb-4">Form Tambah Peta</h2>
            <form action="{% url 'simpanpeta' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <div class="relative z-0 mb-6 w-full group font-semibold tracking-wider">
                        <input type="text" name="nama_peta" id="nama_peta" class="block py-2.5 px-0 w-full text-sm  bg-transparent border-0 focus:border-b-black border-b-2 border-gray-300 appearance-none dark: dark:border-gray-600 focus:outline-none focus:ring-0 peer" placeholder=" " required />
                        <label for="nama_peta" class="peer-focus:font-medium absolute text-sm  dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nama Peta</label>
                    </div>
                    <div class="relative z-0 mb-2 w-full group font-semibold tracking-wider">
                        <input accept="application/pdf" type="file" name="folder" id="folder" class="block py-2.5 px-0 w-full text-sm  bg-transparent border-0 border-gray-300 appearance-none dark: dark:border-gray-600 dark focus:outline-none focus:ring-0 peer" placeholder=" " required />
                        <label for="folder" class="peer-focus:font-medium absolute text-sm  dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]">File Peta</label>
                    </div>
                </div>  
                <button type="submit" class="inline-block bg-blue-600 text-white py-2 px-4 rounded-md mb-2">Tambah Peta!</button>
            </form>
        </div>
    </section>
    {% elif request.GET.admin == "berita" %}
    <section class="md:px-10 px-4 pb-10">
        <h1 class="pb-2 pt-6 text-center text-xl md:text-3xl font-fredoka">Berita</h1>
        <a href="{% url 'tambahberita' %}" class="inline-block py-2 px-4 bg-green-600 text-white rounded-md">Tambah Berita</a>
        <div class="w-full overflow-x-auto py-6">
            <table class="w-full" id="tablejobberita" style="min-width: 1000px;">
                <thead>
                    <tr class="bg-blue-400 text-white">
                        <th>Judul</th>
                        <th>Kategori</th>
                        <th>Author</th>
                        <th>Tanggal dibuat</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for berita in beritas %}
                        <tr class="odd:bg-blue-100 even:bg-blue-200">
                            <td>{{berita.judul}}</td>
                            <td>{{berita.kategori_id}}</td>
                            <td>{{berita.author}}</td>
                            <td>{{berita.created_at}}</td>
                            <td>
                                <a href="{% url 'detailberita' berita.id %}" class="py-2 px-4 inline-block mx-1 my-1 bg-green-600 rounded-md text-white">Lihat</a>
                            </td>  
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% elif request.GET.admin == "pesan" %}
    <section class="md:px-10 px-4 pb-10">
        <h1 class="pb-2 pt-6 text-center text-xl md:text-3xl font-fredoka">Pesan dari User</h1>
        <div class="w-full overflow-x-auto py-6">
            <table class="w-full" id="tablejobpesan" style="min-width: 1000px;">
                <thead>
                    <tr class="bg-blue-400 text-white">
                        <th>Email</th>
                        <th>Nama Pengirim</th>
                        <th>Pesan</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pesan in pesans %}
                        <tr class="odd:bg-blue-100 even:bg-blue-200">
                            <td>{{pesan.email_pesan}}</td>
                            <td>{{pesan.name_pesan}}</td>
                            <td>{{pesan.message}}</td>
                            <td>
                                <a onclick="return confirm('Apakah anda yakin sudah memberikan balasan untuk pesan ini?')" href="{% url 'hapuspesan' pesan.id %}" class="py-2 px-4 inline-block mx-1 my-1 bg-red-600 rounded-md text-white">Hapus</a>
                            </td>  
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% else %}
    <script>
        window.location.href = "/adminpage/"
    </script>
    {% endif %}
</section>
<!-- <section class="bg-slate-200 font-robotocon min-h-screen pb-8">
    <div class="pt-20 px-6 md:px-10">
        <h1 class="py-2 text-center text-2xl md:text-4xl font-fredoka">Halo, {{user.first_name}} {{user.last_name}}!, Selamat bekerja!</h1>

        <h1 class="py-2 text-center text-xl md:text-3xl font-fredoka">Peta</h1>
        <div class="ring-2 p-4 rounded-md">
            <h2 class="font-fredoka md:text-lg pb-4">Tambah Peta</h2>
            <form action="{% url 'simpanpeta' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <div class="relative z-0 mb-6 w-full group font-semibold tracking-wider">
                        <input type="text" name="nama_peta" id="nama_peta" class="block py-2.5 px-0 w-full text-sm  bg-transparent border-0 focus:border-b-black border-b-2 border-gray-300 appearance-none dark: dark:border-gray-600 focus:outline-none focus:ring-0 peer" placeholder=" " required />
                        <label for="nama_peta" class="peer-focus:font-medium absolute text-sm  dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nama Peta</label>
                    </div>
                    <div class="relative z-0 mb-2 w-full group font-semibold tracking-wider">
                        <input accept="application/pdf" type="file" name="folder" id="folder" class="block py-2.5 px-0 w-full text-sm  bg-transparent border-0 border-gray-300 appearance-none dark: dark:border-gray-600 dark focus:outline-none focus:ring-0 peer" placeholder=" " required />
                        <label for="folder" class="peer-focus:font-medium absolute text-sm  dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0]">File Peta</label>
                    </div>
                </div>  
                <button type="submit" class="inline-block bg-blue-600 text-white py-2 px-4 rounded-md mb-2">Tambah Peta!</button>
            </form>
        </div>
        <div class="w-full overflow-x-auto py-6">
            <table class="w-full" id="tablejobpeta" style="min-width: 1000px;">
                <thead>
                    <tr class="">
                        <th>Nama Peta</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for peta in petas %}
                        <tr class="">
                            <td>{{peta.nama_peta}}</td>
                            <td id="responseActionPeta{{peta.id}}">
                                <a href="{{peta.folder.url}}" class="py-2 px-4 inline-block mx-1 my-1 bg-green-600 rounded-md text-white">Lihat</a>
                                <button onclick="clickEdit(`{{peta.id}}`, `{{peta.nama_peta}}`)" class="py-2 px-4 inline-block mx-1 my-1 bg-yellow-600 rounded-md text-white">Edit</button> 
                                <a onclick="return confirm('Apakah anda yakin untuk menghapus data ini?')" href="{% url 'hapuspeta' peta.id %}" class="py-2 px-4 inline-block mx-1 my-1 bg-red-600 rounded-md text-white">Hapus</a>
                            </td>  
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h1 class="pb-2 pt-6 text-center text-xl md:text-3xl font-fredoka">Berita</h1>
        <div class="w-full overflow-x-auto py-6">
            <table class="w-full" id="tablejobberita" style="min-width: 1000px;">
                <thead>
                    <tr class="">
                        <th>Judul</th>
                        <th>Kategori</th>
                        <th>Author</th>
                        <th>Tanggal dibuat</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for berita in beritas %}
                        <tr class="">
                            <td>{{berita.judul}}</td>
                            <td>{{berita.kategori_id}}</td>
                            <td>{{berita.author}}</td>
                            <td>{{berita.created_at}}</td>
                            <td>
                                <a href="{% url 'detailberita' berita.id %}" class="py-2 px-4 inline-block mx-1 my-1 bg-green-600 rounded-md text-white">Lihat</a>
                            </td>  
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h1 class="pb-2 pt-6 text-center text-xl md:text-3xl font-fredoka">Pesan dari User</h1>
        <div class="w-full overflow-x-auto py-6">
            <table class="w-full" id="tablejobpesan" style="min-width: 1000px;">
                <thead>
                    <tr class="">
                        <th>Email</th>
                        <th>Nama Pengirim</th>
                        <th>Pesan</th>
                        <th>Aksi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pesan in pesans %}
                        <tr class="">
                            <td>{{pesan.email_pesan}}</td>
                            <td>{{pesan.name_pesan}}</td>
                            <td>{{pesan.message}}</td>
                            <td>
                                <a onclick="return confirm('Apakah anda yakin sudah memberikan balasan untuk pesan ini?')" href="{% url 'hapuspesan' pesan.id %}" class="py-2 px-4 inline-block mx-1 my-1 bg-red-600 rounded-md text-white">Hapus</a>
                            </td>  
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{% url 'datalogbook' %}" class="block text-center py-4 px-2 bg-green-600 text-white rounded-md my-8">Sunting Data Penangkapan</a>
    </div>

    
</section> -->
<script charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<script>
    let table = new DataTable('#tablejobpesan', {

});
    let table2 = new DataTable('#tablejobpeta', {

});
    let table3 = new DataTable('#tablejobberita', {

});

const clickEdit = (id, nama_peta) =>{
    let responseActionPeta = document.getElementById(`responseActionPeta${id}`)

    responseActionPeta.innerHTML = `
    <form action="{% url 'editpeta' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" value="${id}" name="id" class="py-2 px-4 rounded-md">
        <input type="text" value="${nama_peta}" name="nama_peta" class="py-2 px-4 rounded-md">
        <input type="file" name="folder" class="py-2 px-4 rounded-md">
        <br>
        <button type="submit" class="py-2 px-4 inline-block mx-1 my-1 bg-blue-600 rounded-md text-white">Simpan!</button> 
    </form>
    `
}

const dropdownclck = () =>{
 document.getElementById('dropdown').classList.toggle('hidden')
}
</script>

{{form.as_p}}
{% endif %}
{% include "footer.html" %}
{% endblock %}