{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "navbar.html" %}
<section class="min-h-screen bg-slate-200 pt-24 px-10 font-robotocon ">
    <h1 data-aos="zoom-in" class="py-2 text-2xl md:text-4xl sm:text-3xl font-fredoka font-semibold text-center">Grafik Penangkapan Ikan di PPN Karangnatu</h1>
    <div>
            <form action="" method="GET">
                <select name="tahun" id="">
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                </select>
                <button type="submit">Lihat Grafik!</button>
            </form>
            <button onclick="document.location.href = '/data/hasiltangkap/grafik/bulan/'">Lihat Grafik Bulanan</button>
    </div>
    <canvas class="w-full h-screen" id="GrafikPenangkapan"></canvas>
</section>

{% include "footer.html" %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
    const datahasiltangkap = JSON.parse("{{datahasiltangkap_json|escapejs}}");
</script>
<script type="text/javascript" src="{% static 'js/datatahunan.js' %}"></script>

{% endblock  %}