<style>
    .carousel-cell {
    width: 66%;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
    }
    #inputtext:focus + *{
        transform: translateY(-50%);
        color: #3b82f6;
    }

    #tablelogbook_length{
        margin-bottom: 10px;
        float: none;
        text-align: left;
    }
    #tablelogbook_length label select:focus{
        outline: none;
        border: 1px solid;
    }
    div #tablelogbook_paginate{
        float: none;
        margin-right: auto;
        text-align: left;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    div #tablelogbook_paginate .paginate_button.previous{
        margin-left: 0px;   
        padding-left: 0px;   
    }
    div #tablelogbook_info{
        float: none;
        text-align: left;
    }
    div #tablelogbook_filter{
        float: none;
        text-align: left;
        margin-bottom: 10px;
        display: block;
    }
    div #tablelogbook_filter label input:focus{
        outline: none;
        border: 1px solid ;
    }

    #tablejobpeta_length{
        margin-bottom: 10px;
        float: none;
        text-align: left;
    }
    #tablejobpeta_length label select:focus{
        outline: none;
        border: 1px solid;
    }
    div #tablejobpeta_paginate{
        float: none;
        margin-right: auto;
        text-align: left;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    div #tablejobpeta_paginate .paginate_button.previous{
        margin-left: 0px;   
        padding-left: 0px;   
    }
    div #tablejobpeta_info{
        float: none;
        text-align: left;
    }
    div #tablejobpeta_filter{
        float: none;
        text-align: left;
        margin-bottom: 10px;
        display: block;
    }
    div #tablejobpeta_filter label input:focus{
        outline: none;
        border: 1px solid ;
    }

    #tablejobberita_length{
        margin-bottom: 10px;
        float: none;
        text-align: left;
    }
    #tablejobberita_length label select:focus{
        outline: none;
        border: 1px solid;
    }
    div #tablejobberita_paginate{
        float: none;
        margin-right: auto;
        text-align: left;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    div #tablejobberita_paginate .paginate_button.previous{
        margin-left: 0px;   
        padding-left: 0px;   
    }
    div #tablejobberita_info{
        float: none;
        text-align: left;
    }
    div #tablejobberita_filter{
        float: none;
        text-align: left;
        margin-bottom: 10px;
        display: block;
    }
    div #tablejobberita_filter label input:focus{
        outline: none;
        border: 1px solid ;
    }

    #tablejobpesan_length{
        margin-bottom: 10px;
        float: none;
        text-align: left;
    }
    #tablejobpesan_length label select:focus{
        outline: none;
        border: 1px solid;
    }
    div #tablejobpesan_paginate{
        float: none;
        margin-right: auto;
        text-align: left;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    div #tablejobpesan_paginate .paginate_button.previous{
        margin-left: 0px;   
        padding-left: 0px;   
    }
    div #tablejobpesan_info{
        float: none;
        text-align: left;
    }
    div #tablejobpesan_filter{
        float: none;
        text-align: left;
        margin-bottom: 10px;
        display: block;
    }
    div #tablejobpesan_filter label input:focus{
        outline: none;
        border: 1px solid ;
    }
    
    .floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    }
    
    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 15px); }
        100%   { transform: translate(0, -0px); }   
    }
</style>