{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "navbar.html" %}
<section class="pt-24 pb-10 bg-slate-200 min-h-screen font-robotocon">
    <div></div>
    <h1 data-aos="fade-down" class="md:text-5xl md:px-10 px-4 text-2xl sm:text-3xl font-bold text-center text-blue-800 font-fredoka">{{detail.judul}}</h1>
    <div class="md:px-10 px-4">
        {% if detail.cover %}
            <img data-aos="flip-up" src="{{detail.cover.url}}" class="w-[40%] rounded-xl block mx-auto my-4 " alt="">
        {% endif %}
        <h6 data-aos="fade-down" class="text-slate-500 font-semibold  text-xs md:text-sm">By : {{detail.author}}</h6>
        <h6 data-aos="fade-down" class="text-slate-500 font-semibold  text-xs md:text-sm">{{detail.created_at}}</h6>
        <div data-aos="flip-down" class="py-2 font-ssp font-semibold">
            {{detail.isi|safe}}
        </div>

        <a data-aos="flip-left" href="{% url 'berita' %}" class="my-4 rounded-md inline-block bg-rose-600 text-white py-2 px-4">Kembali</a>
        {% if user.is_authenticated %}
            <a data-aos="flip-left" href="{% url 'editberita' detail.pk %}" class="my-4 rounded-md inline-block bg-yellow-600 text-white py-2 px-4">Edit</a>
            <a data-aos="flip-right" href="{% url 'hapusberita' detail.pk %}" onclick="return confirm('Apakah Anda yakin menghapus berita dengan judul {{detail.judul}}?')" class="my-4 rounded-md inline-block bg-red-600 text-white py-2 px-4">Delete</a>
        {% endif %}
    </div>
</section>
{% include "footer.html" %}
  
{% endblock  %}